<header class="masthead" data-url="<%= image_url('bg-masthead') %>">
  <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
    <div class="wrapper">
      <div class="text-center mt-3 mb-3 name">
        Sign up
      </div>
      <% render 'devise/shared/error_messages' %>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="form-field d-flex align-items-center">
          <span class="fa fa-user"></span>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email" %>
        </div>

        <div class="form-field d-flex align-items-center">
          <span class="fa fa-key"></span>
          <%= f.password_field :password, autocomplete: "new-password", placeholder: "Password " + "( #{@minimum_password_length} characters minimum)" %>
        </div>

        <div class="form-field d-flex align-items-center">
          <span class="fa fa-key"></span>
          <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Re-password" %>
        </div>

        <div class="actions">
          <%= f.submit "Sign up", :class => "btn btn-secondary" %>
        </div>
      <% end %>
      <%= render "devise/shared/links" %>

    </div>
  </div>
</header>
