<div id="items">
  <%= form_with(model: item, class: "w-50 ms-auto me-auto") do |form| %>
    <% if item.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h2>
        <ul>
          <% item.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <fieldset>
      <div class="form-group">
        <label for="exampleInputEmail1" class="form-label mt-4 text-white">Item name</label>
        <%= form.text_field :item_name, class: "form-control" %>
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1" class="form-label mt-4 text-white">Item quantity</label>
        <%= form.number_field :item_qty, class: "form-control" %>
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1" class="form-label mt-4 text-white">Item description</label>
        <%= form.text_field :item_des, class: "form-control" %>
      </div>
      <div class="mt-2 float-end">
        <%= form.submit :class => "btn btn-success" %>
      </div>
    </fieldset>
    <%= link_to "Back to items", items_path %>

<% end %>

</div>