<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
  <div class="container px-4 px-lg-5">
    <a class="navbar-brand" href="<%= root_path %>">Trang chủ</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      Menu
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ms-auto">
        <% if current_page? items_path %>
          <li class="nav-item d-flex align-items-center flex-row ms-auto me-3">
            <%= form_with(url: items_path, method: :get) do |form| %>
              <%= form.text_field :query, placeholder: "Item Search", class: "ps-2 pt-1 pb-1 me-2 rounded" %>
              <button type="submit" style="background: none; border: none; color: #ffffff ">
                <i class="fa fa-search"></i>
              </button>
            <% end %>
          </li>
        <% end %>
        <% if user_signed_in? %>
          <% if user_signed_in? %>
            <li class="nav-item me-3">
              <%= link_to "Item list", items_path, class: "nav-link text-white" %>
            </li>
          <% end %>
          <li class="nav-item dropdown d-flex align-items-center">
            <% name = current_user.name ?  current_user.name : current_user.email.split('@')[0] + " (#{current_user.id})" %>
            <img src="<%= current_user.avatar_link ? current_user.avatar_link : "https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460__480.png" %>" alt="avatar" class="header-avatar">
            <a class="nav-link dropdown-toggle text-white" type="button" data-bs-toggle="dropdown" aria-expanded="false" aria-haspopup="true">
              <%= name %>
            </a>
            <ul class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown1">
              <li><a class="dropdown-item text-white" href="<%= edit_user_registration_path %>">Trang cá nhân</a></li>
              <li>
                <hr class="dropdown-divider color-white"/>
              </li>
              <li>
                <%= button_to 'Đăng xuất',
                              destroy_user_session_path,
                              method: :delete,
                              class: "dropdown-item text-white" %>
              </li>
            </ul>
          </li>
        <% else %>
          <li class="nav-item"><a class="nav-link" href="<%= new_user_registration_path %>">
            <i class="fa-solid fa-user"></i> Đăng ký
          </a></li>
          <li class="nav-item"><a class="nav-link" href="<%= new_user_session_path %>">
            <i class="fa fa-sign-in"></i> Đăng nhập
          </a></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>