<nav class="navbar navbar-expand-lg navbar-white bg-dark">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <i class="fab fa-github fa-2x mx-3 ps-1"></i>
    <% end %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor02">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to "Item list", items_path, class: "nav-link text-white" %>
          </li>
        <% end %>
      </ul>
      <ul class="navbar-nav d-flex align-items-center flex-row ms-auto me-3">
        <% if current_page? items_path %>
          <li class="nav-item me-5">
            <%= form_with(url: items_path, method: :get) do |form| %>
              <%= form.text_field :query, placeholder: "Item Search", class: "ps-2 pt-1 pb-1 me-2 rounded" %>
              <button type="submit" style="background: none; border: none; color: #ffffff ">
                <i class="fa fa-search"></i>
              </button>
            <% end %>
          </li>
        <% end %>
        <% if user_signed_in? %>
          <li class="nav-item me-3 me-lg-0">
            <a class="nav-link dropdown-toggle text-white" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              <img src="https://mdbootstrap.com/img/Photos/Avatars/img (31).jpg" class="rounded-circle" height="22"
                   alt="" loading="lazy"/>
              <%= current_user.email %>
            </a>
            <ul class="dropdown-menu dropdown-menu-end bg-dark" aria-labelledby="navbarDropdown1">
              <li><a class="dropdown-item text-white" href="#">Action</a></li>
              <li><a class="dropdown-item text-white" href="#">Another action</a></li>
              <li>
                <hr class="dropdown-divider color-white"/>
              </li>
              <li>
                <%= button_to 'Sign Out',
                              destroy_user_session_path,
                              method: :delete,
                              class: "dropdown-item text-white" %>
              </li>
            </ul>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to new_user_session_path, class: "nav-link text-white" do %>
              <i class="fa fa-sign-in text-white"></i> Sign in
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>